<a href="{{ content.field_social_network_url.0['#title'] }}" class="{{ content.field_social_network_platform.0['#markup'] == 'gplus' ? 'google-plus' : content.field_social_network_platform.0['#markup'] }}">
    <i class="fa fa-{{ content.field_social_network_platform.0['#markup'] == 'gplus' ? 'google-plus' : content.field_social_network_platform.0['#markup'] }}"></i>
</a>
