{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'row',
  ]
%}
<div{{attributes.addClass(classes)}}>
    {% if rows -%}
        {{ rows }}
    {% elseif empty -%}
        {{ empty }}
    {% endif %}
</div>
