{% for row in rows %}
	{%
    set row_classes = [
      default_row_class ? 'views-row',
      'item',
      'wow',
      'fadeInLeft'
    ]
  %}
	<div{{row.attributes.addClass(row_classes)}}>
		{{- row.content -}}
	</div>
{% endfor %}
